body {
	margin: 0;
	padding: 0;
}

main {
	text-align: center;
	margin: 0 auto;
}

.title {
	margin: 0 0 15px 0; 
}
.text {
	width: 80%;
	border: 2px dashed red;
	margin: 0 auto;
	padding: 25px;
	margin-top: 50px;
}
.text p {
	width: 400px;
	margin: 0 auto;
}
